language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

matrix:
  allow_failures:
    - php: hhvm

before_script:
  - composer selfupdate
  - composer install --dev --prefer-dist
  
script: phpunit --coverage-clover=coverage.xml --configuration=phpunit.xml
  
after_success:
  - bash <(curl -s https://codecov.io/bash)